
body {
    background-image: url("https://static.vecteezy.com/system/resources/previews/032/934/104/non_2x/africa-savannah-at-sunset-animals-graze-ancient-trees-free-photo.jpg"); 
    background-size: cover; 
    background-position: center; 
}
h1 {
    font-size: 10rem;
    color: white; /* Cambiado a rojo */
    border-color: black; /* Borde negro */
    
}
